body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

h2 {
     text-align: center;            
    color: #fff;                     
    background-color: #2980b9;       
    font-size: 26px;                  
    font-weight: bold;                
    border: 3px solid #1f618d;       
    border-radius: 10px;             
    padding: 10px 20px;           
    margin: 30px auto;            
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.back-dashboard {
    display: inline-block;       
    padding: 8px 15px;              
    background-color: #be0c1b;   
    color: white;                 
    text-decoration: none;     
    border-radius: 5px;             
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px 0 20px 20px;  
}

.back-dashboard:hover {
    background-color: #b31d1d;     
}


